<div class="wysiwyg _bg-image-cover" style="background-image: url(/Media/assets/images/backgrounds/about-us.jpg);">
	<div class="about-us-container ">
		<div class="grid _justify-end">
			<div class="gcell gcell--md-6 ">
				<div class="wysiwyg-left">
					<div class="about-us">
						<div class="about-us__title ">Вкратце о нас</div>
						<div class="about-us__text">
							Перед выполнением заказа мы погружаемся в предметную область клиента, изучаем его цели, критерии оценки их достижения, текущее положение на рынке, анализируем конкурентов, проводим опросы и разрабатываем пользовательские сценарии. На основании этого мы строим план и делим его на промежуточные этапы.
						</div>
						<div class="about-us__text">
							Выполнение поэтапного плана позволяет не только достичь целей, но и найти идеи, позволяющие развить проекты и выйти на новые обороты еще на этапе запуска проекта. После запуска проекта мы анализируем поведение покупателей и продолжаем его развитие, чтобы достичь дальнейших целей
						</div>
						<div class="about-us__img">
							<img src="/Media/assets/images/backgrounds/about-rocket.png" alt>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


