<%
	const {md2html} = app.module;
-%>

<div class="wysiwyg wysiwyg-services _bgcolor-bg">
	<div class="container">
		<div class="grid _justify-center">
			<div class="gcell gcell--def-10">
				<div class="wysiwyg-services-text">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae posuere leo. Vivamus nec feugiat sapien, vitae pharetra risus. Mauris mollis id lectus ut interdum. Fusce non urna imperdiet, semper velit id, maximus arcu. Vivamus ut lacus eu eros cursus pretium at suscipit diam. Pellentesque malesuada eget sapien sed dapibus. Duis urna lacus, consequat in facilisis eu, iaculis non risus. Vestibulum iaculis sit amet risus in maximus. Suspendisse in hendrerit purus, in faucibus felis. Sed condimentum tincidunt lacus sed posuere. Pellentesque aliquam finibus viverra. Praesent ut cursus lacus, non vestibulum lectus. Etiam varius turpis ac lectus varius pulvinar.</p>
					<p>Sed ligula libero, blandit eget lacinia ut, consectetur sed metus. Suspendisse rhoncus eros metus. Integer non ex dui. Nulla finibus neque eget tellus commodo scelerisque. Nunc finibus vel ante a scelerisque. Suspendisse potenti. Vestibulum non neque elit. Ut commodo odio et ligula tristique, id aliquet sem sagittis. Curabitur semper turpis eget eros dignissim, non facilisis neque efficitur. Mauris et neque ullamcorper, maximus tellus a, auctor magna.
					</p>
					<p>
						Fusce id mi non felis vestibulum tincidunt. Aenean a sodales magna. Cras condimentum quam faucibus nibh pretium, vitae ultricies erat luctus. Nulla eleifend dui eu molestie tincidunt. Nulla facilisi. Vivamus et scelerisque massa. Aliquam dapibus massa non luctus sagittis. Duis porta porttitor dolor sit amet pretium. Morbi viverra metus quis hendrerit pretium. Donec id elit arcu. Mauris volutpat fermentum purus quis varius. Nam id ex ut ante dignissim pellentesque.
					</p>
				</div>
			</div>
		</div>

	</div>
</div>
