<div class="magnific-popup _dark-bg ">
	<div class="container">
		<form action="javascript:void(0)" class="form	form--ordering js-form" data-ajax="response/demo.json">
			<button class="mfp-close" type="button">x</button>
			<div class="section__title">Заказать услугу</div>
			<div class="form-group">
				<select class="form-select" required name="service">
					<option value="" selected disabled>Выберите услугу</option>
					<option value="1">Услуга 1</option>
					<option value="2">Услуга 2</option>
				</select>
			</div>
			<div class="form-group">
				<input class="form-input" id="input__site" placeholder="Ваш сайт"  type="url" name="site" >
				<label class="control-label" for="input__site" >Ваш сайт</label>
			</div>
			<div class="form-group">
				<input class="form-input" id="input__mail" placeholder="Ваш email*" required type="email" name="email" >
				<label class="control-label" for="input__mail" >Ваш email*</label>
			</div>
			<div class="form-group">
				<input class="form-input"  id="input__phone" placeholder="Ваш номер телефона" data-phone-mask="+99 (999) 9999999"  type="tel" name="phone" >
				<label class="control-label"  for="input__phone" >Ваш номер телефона</label>
			</div>
			<div class="form-group">
				<textarea id="input__comment" class="form-textarea" placeholder="Комментарий"  name="comment"></textarea>
				<label class="control-label" for="input__comment">Коментарий</label>
			</div>
			<div class="_color-white _mb-def" style="font-size: 14px;">* Поля обязательные для заполнения</div>
			<button type="submit" class="button button--primary button--block">Заказать услугу</button>
		</form>
	</div>
</div>
