<div class="page-404" style="background-image: url(/Media/assets/images/backgrounds/error.jpg);">
	<div class="container">
		<div class="grid _justify-center">
			<div class="gcell gcell--md-10">
				<div class="section--error" >
					<div class="section--error__title">Cтраница не найдена. Вероятно, вы перешли по ошибочной ссылке</div>
					<div class="section--error__body"></div>
				</div>
			</div>
		</div>
		<div class="grid _justify-center _pb-xl">
			<div class="gcell gcell--def-6 _text-center">
				<a href="index" class="button button--secondary-white">вернуться на главную</a>
				<a href="index" class="button button--secondary-white">написать нам</a>
			</div>
		</div>
	</div>
</div>