
<div class="section">
	<div class="container">
		<div class="section__title">Наши принципы</div>
		<div class="section__subtitle">Мы следуем лучшим мировым трендам. Умеем слушать и слышать наших клиентов. Видим суть и
			<br>находим яркие решения для каждого проекта
		</div>
	</div>

	<%- app.widget('sections/principles.ejs')%>

</div>
