<div class="section _bg-image-cover _dark-bg b-lazy"
	 style="background-image: url(/Media/assets/images/backgrounds/abstract-bg.jpg);">
	<div class="container">
		<div class="section__title">Чем мы можем быть <br> полезны вашему бизнесу</div>
		<div class="helpful-container">
			<div class="helpful-column">
				<div class="helpful-item">
					<div class="helpful-item__icon"><%- new app.el.SvgIcon('helpful1') %></div>
					<div class="helpful-item__title">Маркетинг</div>
					<div class="helpful-item__text">Описание преимущества описание преимущества описание преимущества
						описание преимущества описание преимущества описание преимущества описание преимущества описание
						преимущества
					</div>
				</div>
				<div class="helpful-item">
					<div class="helpful-item__icon"><%- new app.el.SvgIcon('helpful2') %></div>
					<div class="helpful-item__title">Качественные сайты</div>
					<div class="helpful-item__text">Описание преописание преимущества описание преимущества описание
						преимущества описание преимущества описание преимущества описание преимущества
					</div>
				</div>
			</div>
			<div class="helpful-column">
				<div class="helpful-item">
					<div class="helpful-item__icon"><%- new app.el.SvgIcon('helpful3') %></div>
					<div class="helpful-item__title">Узнаваемость брэнда
						в соц сетях
					</div>
					<div class="helpful-item__text">Описание преимущества описание преимущества описание преимущества
						описание преимущества описание преимущества описание преимущества описание преимущества описание
						преимущества
					</div>
				</div>
				<div class="helpful-item">
					<div class="helpful-item__icon"><%- new app.el.SvgIcon('helpful4') %></div>
					<div class="helpful-item__title">Привлечение
						клиентов
					</div>
					<div class="helpful-item__text">Описание преимущества описание преимущества описание преимущества
						описание преимущества описание преимущества описание преимущества описание
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
