<div class="_bg-dotted">
	<div class="container _bgcolor-bg">
		<div class="section">
			<div class="section__title">Стань частью нашей команды</div>
			<div class="section__subtitle">Нам всегда нужны талантливые люди, которые горят своим делом и готовы
				воплощать
				<br>самые смелые идеи. Хочешь к нам? Пиши!
			</div>
			<div class="section__body">
				<form action="javascript:void(0)" class="form	form--ordering js-form join-form" data-ajax="response/demo.json">
					<div class="form-group">
						<input class="form-input" id="input__name"
								required type="text" name="name" placeholder="Ваше имя">
						<label class="control-label" for="input__name" >Ваше имя</label>
					</div>
					<div class="form-group">
						<input  id="input__mail" class="form-input"
								required type="email" name="email" placeholder="Ваш email*">
						<label class="control-label" for="input__mail" >Ваш email*</label>
					</div>
					<div class="form-group">
						<input class="form-input control__input "
								placeholder="Ваш номер телефона"
								required data-phone-mask="+99 (999) 9999999" type="tel"
								name="phone">
						<label class="control-label" for="input__phone" >Ваш номер телефона</label>
					</div>
					<div class="form-group">
						<textarea id="input__comment" class="form-textarea"  name="comment"></textarea>
						<label class="control-label" for="input__comment">Коментарий</label>
					</div>
					<button type="submit" class="button button--primary button--block">Оставить заявку</button>
				</form>
			</div>
		</div>
	</div>
</div>
