<%
let tariffs = [
	{
		title: 'Контекстная реклама',
		price: '6 930',
		text: 'Контекстная реклама быстрый и эффективный метод привлечения заинтересованных посетителей из поисковых систем, а так же сайтов партнеров.Дает возможность гибко настраивать объявления на целевую аудитори, и быстро получать нужный результат'
	},
	{
		title: 'Продвижение сайта в Яндексе и Google',
		price: '6 930',
		text: 'Продвижение сайтов в предоставляется по разным схемам, цель которых привлечение максимально заинтересованных посетителей на сайт, постоянный рост объема посетителей, следствие чего увеличение продаж'
	},
	{
		title: 'SММ',
		price: '6 930',
		text: 'Это комплекс мероприятий по использованию социальных медиа в качестве каналов для продвижения компаний и решения других бизнес- задач'
	},
	{
		title: 'Сбор семантического ядра',
		price: '6 930',
		text: 'Борьба за клиента начинается именно на уровне семантики: от того, как много запросов, по которым не размещаются ваши конкуренты, вы сможете найти; от того, насколько хорошо вы проработаете список минус-слов, и будет зависеть успех вашей рекламы'
	}
]
%>
<div class="section">
	<div class="_section-bg-dot">
		<%- app.widget('sections/our-tariffs-subpage.ejs', {tariffs})%>
	</div>
</div>
