<div class="main-slider-container">
	<div class="main-slider js-init"
			data-slick='{"autoplay":false}'
			data-preset="main">
		<a href="#" class="main-slider__slide"
				style="background-image: url(/Media/assets/images/slides/main-slide1.jpg);">
			<div class="slide-body container">
				<div class="slide-body__title">Попадаем <br> точно  в цель</div>
				<div class="slide-body__text">Если вам необходимо
					<i>привлекать своих потенциальных клиентов из
						органического поиска
					</i>, мы возьмем на себя весь спектр работ по оптимизации сайта
				</div>
			</div>
		</a>
		<a href="#" class="main-slider__slide"
				style="background-image: url(/Media/assets/images/slides/main-slide2.jpg);">
			<div class="slide-body container">
				<div class="slide-body__title">Ваш сайт<br> будет лучшим</div>
				<div class="slide-body__text">Мы не просто создаем  сайты, мы разрабатываем и продвигаем
					<i>комплексные веб-проекты,</i> которые решают ваши бизнес задачи!
				</div>
			</div>
		</a>
	</div>
	<div class="main-slider__dots"></div>
</div>
