<div class="section--upper-bg _bg-image-cover b-lazy" data-src="/Media/assets/images/backgrounds/order-price.jpg">
	<div class="container">
		<div class="grid  _justify-center">
			<div class="gcell gcell--md-10">
				<div class="price-order">
					<div class="price-order__title ">Стоимость контекстной рекламы в Google и Яндекс</div>
					<div class="price-order__subtitle">
						Для каждой тематики свой уровень бюджета для входа в аукцион. Основываясь на собственном<br>
						опыте, мы можем сориентировать на оптимальные уровни бюджетов, необходимые для <br>
						достижения поставленных целей
					</div>
					<div class="price-order__btext">от 6 000 ₽</div>
					<div class="price-order__title ">Оставьте заявку, и мы поможем вам рассчитать стоимость<br>
						рекламной кампании в 	&nbsp;&nbsp;<span class="inline-button inline-button--white"> Google и Яндекс</span>
					</div>
				</div>
			</div>
		</div>
		<div class="grid _justify-center">
			<div class="gcell gcell--md-6">
				<button type="submit" class="button button--primary button--block js-mfp-ajax" data-mfp-src="hidden/callback-complex.php">Заказать контекстную рекламу</button>
			</div>
		</div>
	</div>
</div>