
<div class="section">
	<div class="container">
		<div class="section__title">Комплексные услуги</div>
		<div class="section__subtitle">Мы следуем лучшим мировым трендам. Умеем слушать и слышать наших клиентов. Видим суть и
			<br>находим яркие решения для каждого проекта
		</div>
	</div>

	<%- app.widget('services-content/list.ejs')%>

	<div class="container">
		<div class="grid grid--3 grid--md-6 _justify-center">
			<button class="button button--secondary">Все услуги</button>
		</div>
	</div>
</div>
