<div class="stage-slider-container">
	<div class="stage-slider js-init" data-slick data-preset="stage">
		<div class="stage-slider__slide" style="background-image: url(/Media/assets/images/slides/stage-slide.jpg);">
				<div class="stage-slider__slide-content stage-info">
					<div class="stage-info__item">
						<div class="stage-info__item__number">
							<span>1</span>
						</div>
						<div class="stage-info__item__body">
							<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
							<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
								amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
								id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
								etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
								ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
							</div>
						</div>
					</div>
					<div class="stage-info__item">
						<div class="stage-info__item__number"><span>
								2</span>
						</div>
						<div class="stage-info__item__body">
							<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
							<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
								amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
								id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
								etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
								ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
							</div>
						</div>
					</div>
					<div class="stage-info__item">
						<div class="stage-info__item__number"><span>3</span></div>
						<div class="stage-info__item__body">
							<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
							<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
								amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
								id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
								etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
								ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
							</div>
						</div>
					</div>
					<div class="stage-info__item">
						<div class="stage-info__item__number"><span>4</span></div>
						<div class="stage-info__item__body">
							<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
							<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
								amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
								id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
								etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
								ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
							</div>
						</div>
					</div>
					<div class="stage-info__item">
						<div class="stage-info__item__number"><span>5</span></div>
						<div class="stage-info__item__body">
							<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
							<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
								amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
								id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
								etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
								ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
							</div>
						</div>
					</div>


				</div>
		</div>
		<div class="stage-slider__slide" style="background-image: url(/Media/assets/images/slides/stage-slide.jpg);">
			<div class="stage-slider__slide-content stage-info">
				<div class="stage-info__item">
					<div class="stage-info__item__number">
						<span>1</span>
					</div>
					<div class="stage-info__item__body">
						<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
						<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
							amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
							id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
							etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
							ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
						</div>
					</div>
				</div>
				<div class="stage-info__item">
					<div class="stage-info__item__number"><span>
								2</span>
					</div>
					<div class="stage-info__item__body">
						<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
						<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
							amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
							id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
							etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
							ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
						</div>
					</div>
				</div>
				<div class="stage-info__item">
					<div class="stage-info__item__number"><span>3</span></div>
					<div class="stage-info__item__body">
						<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
						<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
							amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
							id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
							etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
							ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
						</div>
					</div>
				</div>
				<div class="stage-info__item">
					<div class="stage-info__item__number"><span>4</span></div>
					<div class="stage-info__item__body">
						<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
						<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
							amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
							id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
							etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
							ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
						</div>
					</div>
				</div>
				<div class="stage-info__item">
					<div class="stage-info__item__number"><span>5</span></div>
					<div class="stage-info__item__body">
						<div class="stage-info__item__title">КЛЮЧЕВЫЕ СЛОВА И ФРАЗЫ</div>
						<div class="stage-info__item__text">Lorem ipsum dolor sit amet, sapiLorem ipsum dolor sit
							amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at
							id quisque ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus,en
							etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque
							ac. Arcu es massa vestibulum malesuada, integer vivamus elit eu mauris eus
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>


	<div class="main-slider__dots stage-slider__dots"></div>

</div>