
<div class="section">
	<div class="container">
		<div class="section__title">этапы работ</div>
		<div class="section__subtitle">Описание преимущества описание преимущества описание преимущества описание
			<br> преимущества описание преимущества описание преимущества описание преимущества
			<br>описание преимущества
		</div>
	</div>
	<div class="container">
		<%- app.widget('sections/stage-slider.ejs')%>
	</div>
</div>
