<div class="section ">
	<div class="title-order-service-container">
		<div class="container">
			<div class="title-order-service">
				<div class="grid _justify-between">
					<div class="gcell gcell--2 title-order-service__img">
						<img src="/Media/assets/images/yandex.png">
					</div>
					<div class="gcell gcell--md-8">
						<div class="title-order-service__meta">
							Мы разместим рекламу в Яндексе и привлечем целевой трафик, который конвертируется в звонки и продажи. Если вы уже занимаетесь продвижением в Яндекс.Директе, самостоятельно или с помощью агентства, мы оптимизируем кампании и увеличим их эффективность
						</div>
					</div>
					<div class="gcell gcell--2 title-order-service__img _text-right">
						<img src="/Media/assets/images/google.png">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
