.wysiwyg-services {
	$col-wysiwyg: #6d6d6d;

	@include resp-val(20, 45, 768, 1280, 'padding-top');
	@include resp-val(20, 70, 768, 1280, 'padding-bottom');
	.wysiwyg-services-text {
		line-height: rem(30);
		color: $col-wysiwyg;
		padding: 1rem;
		background: #f3f1f1;
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			position: relative;
			padding-left: 20px;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				width: 9px;
				height: 9px;
				z-index: 1;
				display: block;
				border-radius: 50%;
				background-color: $color-brand;
				bottom: 0;
				top: 0;
				margin: auto;
			}
		}
	}
}
