////
/// @group _blocks/
////

/// Description
.button {
	position: relative;
	font-size: 1rem;
	padding: 0 rem(45);
	height: rem(60);
	border-radius: 0;
	border: 2px solid transparent;
	background-color: transparent;
	color: inherit;
	max-width: 100%;
	text-decoration: none !important; // sass-lint:disable-line no-important
	box-sizing: border-box;
	cursor: pointer;
	user-select: none;
	display: inline-block;
	vertical-align: top;
	transition: all .2s;
	font-weight: 900;
	text-transform: uppercase;

	&:hover {
		background-color: map-get($colors, bg);
		transform: translate(-2px, -2px);
		box-shadow: 2px 2px 0 rgba(#000, .3);
	}

	&:active {
		background-color: map-get($colors, gray);
		transform: translate(0, 0);
		box-shadow: none;
	}
	&--primary {
		background-color: map-get($colors, primary);
		outline-color: map-get($colors, primary);
		&:hover {
			color: #fff;
			fill: #fff;
			background-color: rgba(map-get($colors, primary), .3);
			border-color: map-get($colors, primary);
			@include media(xl, max) {
				background-color: map-get($colors, primary);
				outline-color: map-get($colors, primary);
				border-color: $color-brand;
				color: inherit;
			}
		}
	}
	&--none-border {
		font-size: rem(18);
		color: #8e8e8e;
		display: block;
		margin: 2px;
		font-weight: 700;
		padding: 10px;
		max-height: 50px;
		transition: background-color .2s, color .2s;
		&:hover,
		&.is-active {
			border: 2px solid $color-brand;
			color: #333;
			background-color: #fff0;
			box-shadow: none;
			transform: none;
		}
	}

	&--secondary {
		color: #333;
		fill: #333;
		display: inline-block;
		margin: 2px;
		border: 2px solid;
		background-color: #fff0;
		box-shadow: none;
		padding: 17px 0;
		text-align: center;
		@include media(md, max) {
			padding: 11px 0;
		}

		&:hover,
		&:active {
			border: 2px solid $color-brand;
			color: $color-brand;
			background-color: #fff0;
			box-shadow: none;
		}
	}
	&--secondary-white {
		color: #fff;
		display: inline-block;
		width: 260px;
		margin: 10px;
		text-align: center;
		border: 2px solid #fff;
		padding: 15px 0;
		background-color: #fff0;
		box-shadow: none;

		&:hover,
		&:active {
			border: 2px solid $color-brand;
			color: $color-brand;
			background-color: #fff;
			box-shadow: none;
		}
	}
	&--icon {
		color: #808b9b;
		fill: #9aaac3;
		display: inline-block;
		margin: 2px;
		border: 2px solid #9aaac3;
		padding: .3em .3em;
		font-weight: 900;
		box-shadow: none;
		svg {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10%;
			margin: auto;
		}

		&:hover,
		&:active {
			border: 2px solid $color-brand;
			color: $color-brand;
			background-color: #fff0;
			box-shadow: none;
			svg {
				fill: $color-brand;
			}
		}
	}

	&--block {
		display: block;
		width: 100%;
	}
	&--only-icon {
		padding: 0;
		width: rem(60);
		svg {
			@extend %abs-center;
			@include max-size(70%)
		}
	}
}

.inline-button {
	color: #333;
	display: inline-block;
	margin: 2px;
	border: 2px solid;
	padding: .3em .3em;
	transition: background-color .2s, color .2s;
	&:hover {
		background-color: #333;
		color: map-get($colors, primary);
	}
	&:active {
		color: #fff;
	}
	&--yellow {
		color: map-get($colors, primary);
		&:hover,
		&:active {
			color: $color-brand;
			background-color: rgba(51, 51, 51, 0);
		}
	}
	&--white {
		border: 2px solid $color-brand;
		color: #fff;
		&:hover,
		&:active {
			color: #fff;
			background-color: rgba(51, 51, 51, 0);
		}

	}
}

.inline-button--a {
	color: #333;
	display: block;
	margin: 2px;
	border: 2px solid;
	cursor: pointer;
	@include resp-val(10, 18, 320, 1280, 'padding-top');
	@include resp-val(10, 16, 320, 1280, 'padding-bottom');
	padding: auto .3em;
	transition: background-color .2s, color .2s;
	&:hover {
		background-color: #ffb900;
		color: #fff;

	}
	&:active {
		color: #fff;
	}
}

a.button--icon {
	color: #808b9b;
	fill: #9aaac3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
	border: 2px solid #9aaac3;
	padding: .3em .3em;
	font-weight: 900;
	box-shadow: none;
	svg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 10%;
		margin: auto;
	}

	&:hover,
	&:active {
		border: 2px solid $color-brand;
		color: $color-brand;
		background-color: #fff0;
		box-shadow: none;
		svg {
			fill: $color-brand;
		}
	}
}