////
/// @group _settings/
////

/// Пользовательские заголовки
.title {
	font-family: map-get($font-family, main);
	margin: map-get($gutters, lg) 0;
	line-height: 1.2;
	font-weight: 600;
	font-size: 1.8rem;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&--no-gap {
		margin-top: 0;
		margin-bottom: 0;
	}

	&--sup {
		font-size: 2.3rem;
	}

	&--sub {
		font-weight: 600;
		font-size: 1.4rem;
	}

	&--tiny {
		font-size: 1.2rem;
		font-weight: 600;
		font-variant: small-caps;
		margin-top: map-get($gutters, md);
		margin-bottom: map-get($gutters, md);
	}

	&--small {
		font-size: 1rem;
		font-weight: 600;
		margin-top: map-get($gutters, sm);
		margin-bottom: map-get($gutters, sm);
	}
}
